

.row{
    display: grid;
    grid-template-columns: 90px 1fr;
}
.row .settings-container{
    position: relative;
}
.row .settings-container #btn-log-out{
    position: absolute;
    right: 3px;
    bottom: 3px;
    padding: 10px 20px;
    background-color: rgb(190, 30, 57);
    font-weight: 800;
    color: #fff;
    border-radius: 3px;
    transition: .5s;
    border: none;
    outline: none;
    cursor: pointer;
}
.row .settings-container #btn-log-out:hover{
    background-color: rgb(250, 74, 103);
    color: rgb(248, 248, 248);
}

/* ==============user info ============= */
.user-item{
    margin: 5px;
    display: grid;
    grid-template-columns: 150px 1fr;
    box-shadow: -3px -3px 3px 0px rgb(0 0 0 / 19%), 
    0 6px 6px rgb(0 0 0 / 23%);
}
.user-item > img{
    margin: 2px auto;
    max-width: 150px;
    max-height: 200px;
    overflow: hidden;
}
.user-item > .desc-user{
    margin: 5px;
    max-width: 150px;
}
.user-item > .desc-user label{
    font-weight: bold;
}
.user-item > .desc-user p{
    margin-left: 25px;
    max-width: 150px;
}